@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.Container{
    height:100vh;
    width: 100%;
    flex-direction: column;
}

.Inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Inline_R {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Button_Links {
    height:44px;
    min-width: 44px;
    border-width: 2px;
    border-color: #f5f5f5;
    border-radius: 15px;
    border-style: solid;
    color: #f5f5f5;
    font-size: 24px;
    background-color: transparent;
    transition: ease-in-out 0.3s;
}
.Button_Links:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
}

.Static_White {
    position:relative;
    color: #0a0a0a;
    background-color: #f5f5f5;
    font-size: 20px;
    border-radius: 15px;
}

/* ---------------------------
  |      Define Positions     |
  ----------------------------  */

.Top_Left{
    position: absolute;
    top: 10px;
    left: 10px;
}
.Top_Right{
    position: absolute;
    top: 10px;
    right: 10px;
    /* height:1px;
    width:1px;
    overflow:visible; */
}
.Bottom_Right{
    position:absolute;
    bottom: 10px;
    right: 10px;
    color: #f5f5f5;
    font-size: 24px;
}

.hidden{
    height:0;
    width: 100%;
    color: #f5f5f5;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-align: center;
    overflow:hidden;
}
.Hidden2{
    height: 0px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    z-index: 1;
}

.Center_on_Flex{
    display: flex;
    align-items: center;
    justify-content: center; 
}



/* --------------------------
  |       Tiny Details       |
  --------------------------- */

.Mid_White_Text {
    font-size: 26px;
    color: #f5f5f5;
}
.Mid_Black_Text {
    font-size: 26px;
    color: #0a0a0a;
}
.Small_White_Text {
    font-size: 20px;
    color: #f5f5f5;
}
.Half_Width_R {
    max-width: 50%;
    width:auto;
}

.Space {
    margin: 5px;
    padding: 5px 10px;
}
.Space_Inside {
    padding: 5px 10px;
}
.Space_Outside {
    margin: 5px;
}

/* --------------------------
  |        Building          |
   -------------------------- */

.Toggle_Mid {
    position: relative;
    height: 25px;
    width: 50px;
    border-width: 2px;
    border-color: #f5f5f5;
    border-radius: 15px;
    border-style: solid; 
    background-color: transparent;
    transition: 0.3s ease;;
}
.Toggle_Mid:hover {
    background-color: #f5f5f5;
}
.Toggle_Mid:hover .Slider {
    background-color: #0a0a0a;
}
.Slider {
    position: absolute;
    transform:translate(-50%, -50%);
    left: 25%;
    top:50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: 0.3s ease-in-out;
}





/* ---------------------
  |     Responsive      |
   --------------------- */  

   @media screen and (max-width: 500px){
    .Half_Width_R {
        max-width: 95%;
        width: 95%;
    }
    .Inline_R {
        flex-direction: column;
    }
   }